html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  font-family: "Merriweather";
  color: serif;
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: "Crackman";
  color: white;
  font-size: 100px;
  background-color: black;
  margin-top: 0;
  margin-bottom: 0;
  padding: .5em;
  padding-left: 1.75em; }

h2 {
  font-family: 'Oswald';
  margin-bottom: 0; }

@font-face {
  font-family: "Crackman";
  src: url("../fonts/crackman.ttf");
  src: url("../fonts/crackman.ttf") format("truetype"); }
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf");
  src: url("../fonts/Oswald-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.otf");
  src: url("../fonts/Montserrat-Regular.otf") format("truetype"); }
.labelTag:hover, .button:hover, .socialMedia:hover, .pagesHighlight:hover, .pages:hover, aside img:hover, .blogArchive td:hover {
  cursor: pointer; }

.connect, .labelCloud, .blogArchive, .subscribe {
  margin-top: 3em; }

.labelTag {
  font-family: "Montserrat";
  color: white;
  font-size: 11px;
  background-color: #28B4FC;
  padding: .4em;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px black; }

.postDate {
  font-size: 10px; }

.button {
  font-family: "Montserrat";
  color: white;
  font-size: 13px;
  background-color: #323232;
  padding: 15px;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px; }

.sideHeader {
  font-family: "Montserrat";
  color: white;
  font-size: 16px;
  background-color: #323232;
  background-color: #28B4FC;
  background-image: -webkit-radial-gradient(#28B4FC, #323232);
  background-image: radial-gradient(  #28B4FC, #323232);
  padding: .5em 1em;
  text-transform: uppercase; }

.blueSpace {
  background-color: #28B4FC; }

.socialMedia {
  font-family: "Montserrat";
  color: black;
  font-size: 18;
  background-color: #F9F9F9;
  border: 1px solid #b2b2b2;
  padding: .5em;
  letter-spacing: 2px;
  float: left;
  width: 20vw;
  margin-bottom: 5px; }
  .socialMedia .fa {
    color: #28B4FC; }

.pagesHighlight {
  border: 1px solid black;
  color: #F0F0F0;
  background-color: black;
  padding: .45em;
  border-radius: .45em; }

.pages {
  padding: .45em;
  border: 1px solid black;
  border-radius: .45em; }
  .pages:hover {
    color: #F0F0F0;
    background-color: black; }

nav {
  font-family: "Oswald";
  background-color: #202020;
  margin: 0;
  padding-left: 7.9em; }
  nav ul {
    list-style: none;
    margin: 0; }
  nav li {
    display: inline-block;
    color: white;
    font-weight: normal;
    margin-right: 10px;
    padding: 1em; }
    nav li:hover {
      background-color: #323232;
      cursor: pointer; }

footer {
  font-family: "Meriweather";
  color: #F0F0F0;
  font-size: 16px;
  background-color: black;
  padding: 2em; }

.overLord {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .overLord::after {
    clear: both;
    content: "";
    display: table; }

.blogContainer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  padding: 2.35765%;
  background-color: white; }
  .blogContainer:last-child {
    margin-right: 0; }
  .blogContainer img {
    display: inline-block;
    height: auto;
    max-width: 100%; }
  @media (max-width: 1024px) {
    .blogContainer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .blogContainer:last-child {
        margin-right: 0; } }

.sideBarContainer {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding: 2.35765%;
  background-color: white; }
  .sideBarContainer:last-child {
    margin-right: 0; }
  @media (max-width: 1024px) {
    .sideBarContainer {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .sideBarContainer:last-child {
        margin-right: 0; } }

article {
  padding: 2em 0;
  border-bottom: 1px dashed black;
  margin-bottom: 1em; }
  article p {
    color: #656565;
    font-size: 13px; }

aside {
  font-family: "Merriweather";
  color: #656565;
  font-size: 12px;
  border-bottom: 1px solid #323232;
  height: 15vh;
  padding-top: 20px; }
  aside img {
    display: inline-block;
    height: auto;
    max-width: 50%;
    float: left;
    padding-right: 10px; }

.connect {
  height: 25vh;
  margin-bottom: 15px; }
  @media (max-width: 1024px) {
    .connect {
      float: left;
      margin: 3em;
      margin-bottom: 0; } }

.labelCloud {
  height: 23vh; }
  .labelCloud .labelTag {
    float: left;
    margin: 5px; }
  @media (max-width: 1024px) {
    .labelCloud {
      float: left;
      width: 20vw;
      height: 25vh;
      margin-top: .41em;
      margin-right: 15px; } }

.blogArchive {
  height: 17vh; }
  .blogArchive th {
    border-bottom: 1px solid black; }
  .blogArchive td {
    color: #656565; }
    .blogArchive td:hover {
      color: black; }
  @media (max-width: 1024px) {
    .blogArchive {
      margin-top: 3.9em; } }

.subscribe h4 {
  font-family: 'Oswald'; }
.subscribe p {
  font-size: 12px; }
.subscribe form input {
  background-color: #323232;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  color: white; }
.subscribe form button {
  font-family: "Montserrat";
  color: white;
  font-size: 15px;
  background-color: #28B4FC;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 2px;
  padding: 10px;
  border-radius: 5px; }
@media (max-width: 1024px) {
  .subscribe {
    margin-top: 8em;
    margin-left: 2.5em;
    height: 35vh; } }

#owl-demo .item {
  margin: 3px; }

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }

/*# sourceMappingURL=application.css.map */
