.overLord {
  @include outer-container();
}
.blogContainer {
  @include span-columns(8);
  @include reset-display;
  @include pad();
  background-color: $white;

  img {
    display: inline-block;
    height: auto;
    max-width: 100%;
  }
}
.sidebarContainer {
  @include span-columns(2);
  @include pad();

  background-color: $white;
}

article {
  padding: 2em $zero;
  border-bottom: 1px dashed black;
  margin-bottom: 1em;

  p {
    color: lighten($mediumgrey, 20%);
    font-size: 13px;
  }
}

aside {
  @include fontBasics('Merriweather', $color: lighten($mediumgrey, 20%), $font-size: 12px);
  border-bottom: 1px solid $mediumgrey;
  height: 17vh;
  padding: 25px;

  img {
    display: inline-block;
    height: auto;
    max-width: 15%;
    float: left;
    padding-right: 10px;
    &:hover {
      @extend %hover;
    }
  }

}

.connect {
  @extend %marginTop;
  height: 25vh;
  margin-bottom: 15px;
}

.labelCloud {
  @extend %marginTop;
  height: 20vh;
  .labelTag {
    float: left;
    margin: 5px;
  }
}

.blogArchive {
  @extend %marginTop;
  height: 20vh;

  th {
    border-bottom: 1px solid black;
  }
  td {
    color: lighten($mediumgrey, 20%);
    &:hover {
      @extend %hover;
      color: $black;
    }
  }
}
.subscribe {
  @extend %marginTop;
  h4 {
    font-family: 'Oswald';
  }
  p {
    font-size: 12px;
  }
  form {
    input {
      background-color: $mediumgrey;
      width: 25%;
      height: 3em;
      border-radius: 5px;
      color: $white;
    }
    button {
      @include fontBasics("Montserrat", $font-size: 15px, $color: $white, $background-color: $lightblue);
      text-transform: uppercase;
      width: 25%;
      letter-spacing: 2px;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
