.overLord {
  @include outer-container();
}
.blogContainer {
  @include span-columns(8);
  @include reset-display;
  @include pad();
  background-color: $white;

  img {
    height: 50vh;
  }
}
.sidebarContainer {
  @include span-columns(4);
  @include pad();

  background-color: $white;
}

article {
  padding: 2em $zero;
  border-bottom: 1px dashed black;

  p {
    color: lighten($mediumgrey, 20%);
    font-size: 13px;
  }
}
