@include fontFace("Crackman", crackman);
@include fontFace("Oswald", Oswald-Regular);

@font-face {
  font-family : "Montserrat";

  src : url('../fonts/Montserrat-Regular.otf');
  src : url('../fonts/Montserrat-Regular.otf') format('truetype');
}
