html, body {
  @include fontBasics('Merriweather', serif, $background-color: $lightgrey);
  margin: $zero;
  padding: $zero;
  box-sizing: border-box;
}

h1 {
  @include fontBasics('Crackman', $color: $white, $font-size: 100px, $background-color: $black);
  margin-top: $zero;
  margin-bottom: $zero;
  padding: .5em;
  padding-left: 1.75em;
}

h2 {
  font-family: 'Oswald';
  margin-bottom: $zero;
}
