// Colors //

$black: black;
$white: white;
$darkgrey: #202020;
$lightgrey: #F0F0F0;
$mediumgrey: #323232;
$lightblue: #28B4FC;

// Functional Colors //
$hovergrey: $mediumgrey;
$labelblue: $lightblue;

// Zero for Padding/Margins //
$zero: 0;

// Asset Paths //
 $path-font: "../fonts";
